<div class="container m-4">
  <a [routerLink]="['/admin/products/new']" class="btn btn-primary center"
    >Add New Product</a
  >
</div>
<div class="container m-4">
  <input
    #inputVal
    (keyup)="search(inputVal.value)"
    class="form-control mr-sm-2"
    type="text"
    placeholder="Search..."
    aria-label="Search"
  />
</div>
<div class="container">
  <!-- <data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
  >
    <data-table-column
      [property]="'productTitle'"
      [header]="'Title'"
      [sortable]="true"
      [resizable]="true"
    >
    </data-table-column>
    <data-table-column
      [property]="'productPrice'"
      [header]="'Price'"
      [sortable]="true"
      [resizable]="true"
    >
      <ng-template #dataTableCell let-item="product">
        {{ product.productPrice | currency: "USD":true }}
      </ng-template>
    </data-table-column>
    <data-table-column [property]="'key'">
      <ng-template>
        <a [routerLink]="['/admin/products/', product.key]">Edit</a>
      </ng-template>
    </data-table-column>
  </data-table>
  -->

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <th>{{ product.data.productTitle }}</th>
        <td>${{ product.data.productPrice }}</td>
        <td>
          <a [routerLink]="['/admin/products/', product.key]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
